@charset "utf-8";

@mixin transition($obj: all, $time: 0.15s, $type: ease-out) {
	transition: $obj $time $type;
	-moz-transition: $obj $time $type;	/* Firefox 4 */
	-webkit-transition: $obj $time $type;	/* Safari 和 Chrome */
	-o-transition: $obj $time $type;
}

@mixin bgsize($width, $height) {
	display: inline-block;
	height: 0;
	width: $width;
	padding-top: $height;
	text-indent: -9999px;
	overflow: hidden;
}

@mixin bgimg($url) {
	background: url($url) transparent no-repeat center top;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}

body {
	// min-height: 3000px;
}

ul, ol {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

$themeColor: #1199ed;

// 清除浮动
.fixed {

	*zoom: 1; // IE hash

	&:after {
		content: '';
		display: table;
		clear: both;
		overflow: hidden;
	}
}

// 电脑端
// @media screen and (min-width: 768px) {

#wrapper {
    width: auto;
    height: auto;
    overflow: visible;
}

.inner-wrapper {
    position: relative;
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
}

.header {
    background-color: #fff;
	height: 60px;
	.ft-brand {
	    position: relative;
	    height: 60px;
	    line-height: 60px;
	    float: left;
	    border-bottom: none;
	    .ft-logo {
	    	position: absolute;
	    	top: 17px;
	    	@include bgsize(236px, 25px);
	    	@include bgimg('../img/brand2.png');
	    }
	}
	.nav {
	    height: 60px;
	    line-height: 60px;
	    float: right;
	}

	.ft-list {
		font-size: 14px;
		li {
			display: inline-block;
			*zoom: 1;
			margin-left: 30px;
		    height: 58px;
    		line-height: 58px;
    		a {
    			color: #333;
    			&:visited {
    				color: #333;
    			}

    			&:hover {
    				color: $themeColor;
    			}
    			@include transition();
    		}
		}
	}

}



.section {
	&.grey {
		background-color: #F5F5F5;
	}
}

.footer {
	border-top: 1px solid #e5e5e5;
	background-color: #fff;
	text-align: center;
	padding-bottom: 25px;
	.navfooter {
		font-size: 14px;
		padding: 30px 0 15px 0;
		a {
			color: #666;
			padding-left: 15px;
			@include transition();
			&:first-child {
				padding-left: 0;
			}
			&:hover {
				color: $themeColor;
			}
		}
	}
	.info {
		color: #999;
		font-size: 12px;
		span {
			padding: 0 4px;
			&:first-child {
				padding: 0;
			}
		}
		a {
			color: #999;
			@include transition();
			&:hover {
				color: $themeColor;
			}
		}
	}
}


	
// }

// #wrapper {
// 	position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
// }

// .header {
//     color: #333;
// }
