@charset "utf-8";

@mixin transition($obj: all, $time: 0.2s, $type: ease-out) {
	transition: $obj $time $type;
	-moz-transition: $obj $time $type;	/* Firefox 4 */
	-webkit-transition: $obj $time $type;	/* Safari 和 Chrome */
	-o-transition: $obj $time $type;
}

@mixin bgsize($width, $height) {
	display: inline-block;
	height: 0;
	width: $width;
	padding-top: $height;
	text-indent: -9999px;
	overflow: hidden;
}

@mixin bgimg($url) {
	background: url($url) transparent no-repeat center top;
}

$themeColor: #1199ed;

.banner {

}

.content {
	margin-bottom: 120px;
}


.slider-list {
	position: relative;
	text-align: center;
	font-size: 0;
	.wrap-bg {
		img {
			max-width: 100%;
		}		
	}

	.wrap-tx {
		position: absolute;
	    width: 70%;
    	left: 15%;
    	top: 25%;
	}

	#slider-item1 {
		background-color: #596396;
		.wrap-bg {
		    height: 450px;
		    background: url(../img/banner1.jpg) center center no-repeat #596396;
		}
		.wrap-tx {

			@include bgsize(70%, 126px);
			@include bgimg('../img/b1-text1.png');

		}
	}
}

.wrap-digest {
	position: relative;
	z-index: 1000;
	width: 1190px;
	margin: -130px auto 0;
	@at-root {
		.digest {
		    background-color: #f5f5f5;
	        float: left;
		    width: 49%;
		    margin-left: .5%;

			.wrap-tx {
				height: 347px;
				h2 {
					position: relative;
					font-size: 22px;
					padding: 20px 0 10px;
				    color: #333;
				    line-height: 1em;
				    font-weight: 400;
				    z-index: 2;
				    text-align: center;
				}
				p {
					position: relative;
		    		width: 70%;
					font-size: 15px;
		    		color: #999;
		    		line-height: 20px;
		    		z-index: 2;
		    		margin: 0 auto;
		    		text-align: center;
		    		// font-family: tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
				}
				img {
					position: relative;
				    margin-top: -8px;
				    width: 100%;
		    		z-index: 1;
				}
			}

			.wrap-card {
			    letter-spacing: -.31em;
			    margin-top: -25px;
		        position: relative;
   			 	z-index: 2;
			}

			.card {
				height: 100px;
				width: 33.33333333%;
				display: inline-block;
				*display: inline;
				*zoom: 1;
			    letter-spacing: normal;
		    	word-spacing: normal;
			    vertical-align: top;
		   		text-rendering: auto;
		   		color: #fff;
		   		text-align: center;
		   		h3 {
					font-size: 18px;
					font-weight: normal;
		   			margin-top: 35px;
		   			text-shadow: 0px 2px 2px #333;
		   			white-space:nowrap;
		   		}
			}
			$leftPos: -10px;
			$topPos: -10px;
			&.a {
				.card {
					&.one {
						background: url(../img/stamp1.png) $leftPos $topPos no-repeat #292A33;
					}
					&.two {
						background: url(../img/stamp2.png) $leftPos $topPos no-repeat #333540;
					}
					&.three {
						background: url(../img/stamp3.png) $leftPos $topPos no-repeat #3D3F4D;
					}
				}
			}
			&.b {
			    margin-left: 10px;
				.card {
					&.one {
						background: url(../img/stamp4.png) $leftPos $topPos no-repeat #292A33;
					}
					&.two {
						background: url(../img/stamp5.png) $leftPos $topPos no-repeat #333540;
					}
					&.three {
						background: url(../img/stamp6.png) $leftPos $topPos no-repeat #3D3F4D;
					}
				}
			}
		}
		
	}
}

.section {
	&.business {
		margin-top: 48px;
		padding-bottom: 10px;
		.divide-head {
			padding: 40px 0 30px 0;
			font-size: 18px;
			color: #333;
			text-align: center;
			font-weight: normal;
		}
		.widget {
			height: 300px;
			margin-bottom: 40px;
			background-color: #fff;
			border-top: 1px solid #fff;
			&.a {
				border-color: #01A8DF;
				.wg-caption {
					background: url('../img/widget1.jpg') top center #01A8DF;
				}
			}
			&.b {
				border-color: #03D5E2;
				.wg-caption {
					background: url('../img/widget2.jpg') top center #03D5E2;
				}
			}
			&.c {
				border-color: #00D1A8;
				.wg-caption {
					background: url('../img/widget3.jpg') top center #00D1A8;
				}
			}

		}
		.wg-caption {
			display: block;
			width: 258px;
			height: 270px;
		    padding: 15px 20px;
		    float: left;
		    color: #fff;
		    cursor: pointer;
			background-color: #f64648;
			h3 {
				font-weight: normal;
				font-size: 22px;
				line-height: 50px;
			}
			p {
				font-size: 14px;
				color: #fefefe;
				line-height: 18px;
				margin-top: 2px;
				max-width: 85%;
			}
		}
		.wg-content {
			letter-spacing: -.4em;
			margin-left: 298px;
			background-color: #fff;
			max-height: 300px;
			overflow: hidden;
			.card {
				display: inline-block;
				*zoom: 1;
				*display: inline;
				letter-spacing: normal;
				width: 33.33333333%;
				text-align: center;
				height: 300px;
				margin-left: -1px;
				overflow: hidden;
			    border-right: 1px solid #e3e3e3;
			    cursor: pointer;
				h4 {
					font-weight: normal;
					font-size: 18px;
					padding: 25px 0 20px 0;
					color: #333;
				}
				img {
					margin-top: 27px;
					width: 150px;
					@include transition($time: 0.25s);
				}
				&.no-border {
					border-right: none;
				}
				&:hover {
					img {
						width: 170px;
					}
				}
			}
		}

	}
	&.notice {
		position: relative;
		padding-top: 40px;
		.widget {
			border: 1px solid #e3e3e3;
			float: left;
			background-color: #fff;
		}
		.wrap-head {
		    border-bottom: 1px solid #e3e3e3;
	 		position: relative;
			h3 {
			    
			    margin-left: 20px;
			    border: none;
			    color: #333;
			    font-weight: normal;
			    font-size: 14px;
			    height: 40px;
			    line-height: 40px;
			    .icon-square {
			    	display: inline-block;
		    	    background: url(../img/icon-square.png) center center no-repeat;
				    height: 8px;
				    width: 8px;
				    margin-right: 2px;
				    vertical-align: middle;
			    }
			    a {
			    	position: absolute;
		    	    color: #999;
		    	    top: 0px;
			    	right: 1em;
			    	font-size: 12px;
			    	@include transition();
			    	&:hover {
			    		color: $themeColor;
			    	}
			    }
			}
		}
		.wrap-content {
			padding: 20px 18px 17px 20px;
			min-height: 115px;
			ul {
				font-size: 14px;
				color: #333;
				li {
					position: relative;
				}
				a {
					display: block;
				    line-height: 21px;
				    @include transition();
				    .date {
				    	position: absolute;
				    	right: 0px;
				    	color: #999;
				    }
				    &:hover {
				    	color: $themeColor;
				    	.date {
					    	color: $themeColor;
					    }
				    }
				}
				.text {
					display: inline-block;
					width: 80%;
					white-space: nowrap;
					text-overflow: ellipsis;
		   		    overflow: hidden;
				}
			}
		}
		.wrap-news {
			width: 64%
	
		}
		.wrap-company {
			position: absolute;
			right: 0;
			width: 35%;
		}
	}

	&.partner {
		margin-top: 40px;
		.wrap-head {
			position: relative;
			font-size: 18px;
			margin: 18px 0 12px 0;
			background-color: #fff;
			a {
				position: absolute;
				right: 0;
				color: #999;
				line-height: 26px;
				font-size: 12px;
				@include transition();
				&:hover {
					color: $themeColor;
				}
			}
		}
		.wrap-content {
			background-color: #fff;
		}
		ul {
			letter-spacing: -.31em;
			border: 1px solid #e3e3e3;
			border-width: 1px 0px 0px 1px;
			li {
				text-align: center;
				display: inline-block;
				*zoom: 1;
				width: 12.5%;
				min-height: 70px;
				float: left;
				margin-left: -1px;
				*margin-left: -2px;
				border: 1px solid #e3e3e3;
				border-width: 0 1px 1px 0;
				overflow: hidden;
			}
			img {
				width: 94%;
				max-width: 140px;
				vertical-align: middle;
			}
		}
	}
}

@media screen and (max-width: 1190px) {
	.wrap-digest {
		width: 100%;
		max-width: 990px;
		@at-root {
			.digest {
				.wrap-tx {
					height: 302px;
					h2 {
						font-size: 18px;
					}
				}
				.card h3 {
					font-size: 15px;
				}
			}
		}
	}
	
	.section {
		&.partner {
			ul {
				li {
					min-height: 60px;
				}
			}
		}
	}

}

@media screen and (max-width: 768px) {


	.content {
		background-color: #f5f5f5;
		margin-bottom: 0;
	}

	.slider-list {
		position: relative;
		text-align: center;
		font-size: 0;
		.wrap-bg {
			img {
				max-width: 100%;
			}		
		}

		.wrap-tx {
	    	top: 40%;
		}

		#slider-item1 {
			background-color: #3B6BAD;
			.wrap-bg {
			    height: 140px;
			    background: url(../img/banner1-sm.jpg) center center no-repeat #3f6dac;
			}
			.wrap-tx {
				@include bgsize(70%, 50px);
				@include bgimg('../img/b1-text1.png');
				background-size: contain;
			}
		}
	}
	

	.wrap-digest {
		margin-top: 0;
	}

	.digest {
		display: block;
		float: none;
		width: 100%;

		margin-left: 0!important;
	
		.wrap-tx {
			height: auto;
			padding-bottom: 10px;
			h2 {
				font-size: 16px;
			}
			p {
				text-align: center;
				font-size: 14px;
			}
		}

		.wrap-card {
			margin-top: 0;
		}

		.card {
			height: 75px;
			overflow: hidden;
			h3 {
				margin-top: 29px;
				font-size: 14px;
				white-space: pre-wrap;
			}
		}
		&.b {
			margin-top: 10px; 
		}
	}

	.section {
		background-color: #f5f5f5;
		&.business {
			margin-top: 20px;
			padding-bottom: 1px;

			.widget {
				height: auto;
				margin-bottom: 20px;
				border: none!important;
			}
			.wg-caption {
				position: relative;
				float: none;
				width: 100%;
				height: auto;
				padding: 0;
				border-radius: 8px 8px 0 0;
				h3 {
					padding: 0 20px;
					font-size: 16px;
				}
				p {
					display: none;
				}
				span {
					position: absolute;
					top: 15px;
					right: 20px;
					font-size: 14px;
				}
			}
			.wg-content {
				margin-left: 0;
				height: 161px;
				.card {
					height: 160px;
					border-bottom: 1px solid #e5e5e5;
					h4 {
						padding: 20px 0 32px 0;
						font-size: 14px;
					}
					img {
						width: 86px!important;
						margin-top: -16px;
					}
				}
			}

		}

		&.notice {
			padding-top: 0;
			.widget {
				width: auto;
				float: none;
				position: static;
				&.wrap-company {
					margin-top: 20px;
				}
			}

			.wrap-content {
				ul {
					font-size: 14px;
					a {
						line-height: 28px;
					}
					.text {
						width: 100%;
					}
					.date {
						display: none;
					}
				}

			}

		}

		&.partner {
			margin-top: 20px;
			.wrap-head {
				padding: 14px 20px;
				margin: 0;
				font-size: 14px;
			}
			ul {
				li {
					width: 25%;
					min-height: 50px;
				}
				img {
					max-width: 90px;
				}
			}
		}
	}

	.footer {
		background-color: #f5f5f5;
		border-top: 0;
		.navfooter {
			a {
				padding-left: 5px;
			}
		}
		.info {
			span {
				padding: 0 2px;
			}
		}
	}
}




