@charset "utf-8";

@mixin transition($obj: all, $time: 0.15s, $type: ease-out) {
	transition: $obj $time $type;
	-moz-transition: $obj $time $type;	/* Firefox 4 */
	-webkit-transition: $obj $time $type;	/* Safari 和 Chrome */
	-o-transition: $obj $time $type;
}

@mixin bgsize($width, $height) {
	display: inline-block;
	height: 0;
	width: $width;
	padding-top: $height;
	text-indent: -9999px;
	overflow: hidden;
}

@mixin bgimg($url) {
	background: url($url) transparent no-repeat center top;
}

body {
	background-color: #f5f5f5;
}

.slider-list {
	position: relative;
	text-align: center;
	font-size: 0;
	.wrap-bg {
		img {
			max-width: 100%;
		}		
	}

	.wrap-tx {
		position: absolute;
	    width: 55%;
    	left: 22.5%;
    	top: 35%;
	}

	#slider-item1 {
		background-color: #3B6BAD;
		.wrap-bg {
		    height: 352px;
		    background: url(../img/banner1.jpg) center center no-repeat #3f6dac;
		}
		.wrap-tx {

			@include bgsize(55%, 84px);
			@include bgimg('../img/b1-text1.png');

		}
	}
}

.section {
	&.part1 {
		text-align: center;
		.wrap-text {
			padding: 50px 0;
			font-size: 14px;
			p {
				margin: 8px 0;
				font-family: tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
			}
		}
		.cards {

			width: 100%;
		    padding-bottom: 50px;
		    li {
		    	display: inline-block;
		    	*zoom: 1;
		    	*display: inline;
		    	margin-left: 1.3%;
	    	    background-color: #fff;
			    position: relative;
			    float: left;
			    box-sizing: border-box;
			    border: 0 solid #f5f5f5;
		        height: 348px;
			    border-width: 0;
			    width: 24%;
			    &:first-child {
			    	margin-left: 0;
			    }
		    }
		    h3 {
		    	margin: 30px 0 15px 0;
				font-size: 18px;
				font-weight: normal;
		    }
		    .wrap-tx {
		    	font-size: 12px;
		    	color: #999;
		    	padding: 0 20%;
			    p {
					margin-bottom: 2px;
			    }
		    }
		    img {
				position: absolute;
				left: 50%;
				bottom: 40px;
				width: 175px;
				margin-left: -88px;
		    }
		}
	}

	&.part2 {
		padding: 50px 0;
		h2 {
			font-size: 22px;
			font-weight: normal;
			
		}
		.wrap-tx {
			margin-top: 22px;
			padding: 20px 10px;
			border: 1px solid #e5e5e5;
			height: 500px;
			text-align: center;
			img {
				display: none;
			}
		}
	}

	&.part3 {
		padding: 50px 0;
		h2 {
			font-size: 22px;
			font-weight: normal;
			
		}
		.cards {
			.card {
				display: inline-block;
				*zoom: 1;
				*display: inline;
				float: left;
				width: 49%;
				&.b {
					margin-left: 2%;
				}
			}
		}
		.wrap-tx {
			margin-top: 12px;
			height: 500px;
			background-color: #fff;
			img {
				display: none;
			}
		}
	}
}




@media screen and (max-width: 1190px) {

}





@media screen and (max-width: 768px) {



	.slider-list {
		position: relative;
		text-align: center;
		font-size: 0;
		.wrap-bg {
			img {
				max-width: 100%;
			}		
		}

		.wrap-tx {
	    	top: 40%;
		}

		#slider-item1 {
			background-color: #3B6BAD;
			.wrap-bg {
			    height: 140px;
			    background: url(../img/banner1-sm.jpg) center center no-repeat #3f6dac;
			}
			.wrap-tx {
				@include bgsize(55%, 45px);
				@include bgimg('../img/b1-text1.png');
				background-size: contain;
			}
		}
	}
}