@charset "utf-8";

@mixin transition($obj: all, $time: 0.15s, $type: ease-out) {
	transition: $obj $time $type;
	-moz-transition: $obj $time $type;	/* Firefox 4 */
	-webkit-transition: $obj $time $type;	/* Safari 和 Chrome */
	-o-transition: $obj $time $type;
}

@mixin bgsize($width, $height) {
	display: inline-block;
	height: 0;
	width: $width;
	padding-top: $height;
	text-indent: -9999px;
	overflow: hidden;
}

@mixin bgimg($url) {
	background: url($url) transparent no-repeat center top;
}

body {
	background-color: #f5f5f5;
}

.slider-list {
	position: relative;
	text-align: center;
	font-size: 0;
	.wrap-bg {
		img {
			max-width: 100%;
		}		
	}

	.wrap-tx {
		position: absolute;
	    width: 70%;
    	left: 15%;
    	top: 35%;
	}

	#slider-item1 {
		background-color: #d7d7cc;
		.wrap-bg {
		    height: 450px;
		    background: url(../img/banner2.jpg) center center no-repeat #d7d7cc;
		}
		.wrap-tx {

			@include bgsize(70%, 161px);
			@include bgimg('../img/b2-text1.png');

		}
	}
}

.section {
	&.part1 {
		text-align: center;
		.wrap-text {
			padding: 50px 0;
			font-size: 16px;
			color: #444;
			p {
				margin: 8px 0;
				// font-family: tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
			}
		}
		.cards {

			width: 100%;
		    padding-bottom: 50px;
		    li {
		    	display: inline-block;
		    	*zoom: 1;
		    	*display: inline;
		    	margin-left: 1.3%;
	    	    background-color: #fff;
			    position: relative;
			    float: left;
			    box-sizing: border-box;
			    border: 0 solid #f5f5f5;
		        height: 348px;
			    border-width: 0;
			    width: 24%;
			    &:first-child {
			    	margin-left: 0;
			    }
		    }
		    h3 {
		    	margin: 36px 0 17px 0;
				font-size: 23px;
				font-weight: normal;
		    }
		    .wrap-tx {
		    	font-size: 14px;
		    	color: #999;
		    	padding: 0 20%;
			    p {
					margin-bottom: 2px;
			    }
		    }
		    img {
				position: absolute;
				left: 50%;
				bottom: 40px;
				width: 139px;
				margin-left: -70px;
		    }
		}
	}

	&.part2 {
		padding: 50px 0;
		h2 {
			font-size: 22px;
			font-weight: normal;
			
		}
		.wrap-tx {
			margin-top: 22px;
			padding: 40px 10px;
			border: 1px solid #e5e5e5;
			text-align: center;
			img {
				width: 90%;
				max-width: 600px;
			}
		}
	}

	&.part3 {
		padding: 50px 0;
		h2 {
			font-size: 22px;
			font-weight: normal;
			
		}
		.cards {
			.card {
				display: inline-block;
				*zoom: 1;
				*display: inline;
				float: left;
				width: 49%;
				&.b {
					margin-left: 2%;
				}
			}
		}
		.wrap-tx {
			margin-top: 12px;
			height: 500px;
			background-color: #fff;
			img {
				display: none;
			}
		}
	}
}




@media screen and (max-width: 1190px) {

}





@media screen and (max-width: 768px) {



	.slider-list {
		position: relative;
		text-align: center;
		font-size: 0;
		.wrap-bg {
			img {
				max-width: 100%;
			}		
		}

		.wrap-tx {
	    	top: 33%;
	    	left: 10%;
		}

		#slider-item1 {
			background-color: #3B6BAD;
			.wrap-bg {
			    height: 140px;
			    background: url(../img/banner2-sm.jpg) center center no-repeat #3f6dac;
			}
			.wrap-tx {
				@include bgsize(80%, 60px);
				@include bgimg('../img/b2-text1.png');
				background-size: contain;
			}
		}
	}

	.section {

		&.part1 {
			.wrap-text {
				padding: 20px;
				p {
					margin: 2px 0;
				}
			}
			.cards {
				padding-bottom: 20px;
				li {
					float: none;
					display: block;
					width: 100%;
				    margin-left: 0;
					height: 250px;
				    box-sizing: border-box;
				    border: 0 solid #f5f5f5;
				    border-width: 20px 20px 0;
				}
				h3 {
					margin: 20px 0 10px;
					font-size: 16px;
				}
				.wrap-tx {
					padding: 0 5%;
					font-size: 14px;
				}
				img {
					width: 100px;
					margin-left: -50px;
					bottom: 19px;
				}
			}
		}

		&.part2 {
			padding: 15px 20px 20px;
			h2 {
				font-size: 16px;
				font-weight: normal;
				
			}
			.wrap-tx {
				margin-top: 22px;
				padding: 20px 10px;
			}
		}

		&.part3 {
			padding: 20px 20px 20px;
			h2 {
				font-size: 16px;
				font-weight: normal;
			}
			.cards {
				.card {
					display: block;
					float: none;
					width: 100%;
					&.b {
						margin-top: 20px;
						margin-left: 0;
					}
				}
			}
			.wrap-tx {
				margin-top: 12px;
				height: 340px;
				background-color: #fff;
				img {
					display: none;
				}
			}
		}
	}
}